<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/atividadesaluno.css">
</head>
<body>
    <div id="tudo">
        <div>
            <img class="logo" src="../image/sesi-logo.png" alt="">

            <img class="usuario" src="../image/professor.png" alt="">
            
        </div>

        <div class="linhas">

        </div>

        <h2>Atividade </h2>

        <div class="linhas">

        </div>

        <h2>Atividade</h2>

        <div class="linhas">

        </div>

        <h2>Atividade </h2>

        <div class="linhas">

        </div>

        <h2>Atividade</h2>

        <div class="linhas">

        </div>

        <h2>Atividade </h2>

        <div class="linhas">

        </div>
