<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/descricao.css">
</head>
<body>

    <div id="tudo">
    <div>
        <img class="logo" src="../image/sesi-logo.png" alt="">
        
        <img class="usuario" src="../image/professor.png" alt="">
    </div>

    <h1>Atividade 1</h1>

    <div >
        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente ex obcaecati debitis iste, deserunt, tenetur vitae a ratione 
        harum rem nisi in earum id eius atque aliquid velit! Ipsa, aliquam!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum sequi animi commodi exercitationem dignissimos, voluptatum 
        tempora accusamus veritatis praesentium deserunt reiciendis iure cumque nostrum nulla explicabo doloribus, natus facere quas.
    </p>
    </div>