<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/notas.css">
</head>
<body>
    <div id="tudo">
        <div>
            <img class="logo" src="../image/sesi-logo.png" alt="">
            <img class="usuario" src="../image/usuario.png" alt="">

            <div class="notas">
              <h2>Notas</h2>
              <p>Matéria 1  <button>+</button></p>
              <p>Matéria 2  <button>+</button></p>
              <p>Matéria 3  <button>+</button></p>
              <p>Matéria 4  <button>+</button></p>
              <p>Matéria 5  <button>+</button></p>
              <p>Matéria 6  <button>+</button></p>
             
            </div>
            
        </div>