*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html,body{
    color: black;
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    height: 100%;
}

body{
    background-image: url(../image/fundovermelho.png);
    background-repeat: no-repeat;
    background-size: 100%;
    
}

#tudo{
    background-color: white;
    height: 60rem;
    width: 90rem;
    border-radius: 2rem;
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
}

.turmas{
    background-color: gray;
    
}

.usuario{
    height: 7rem;
    margin-left: 60rem;
    margin-top: 2rem;
}




.logo{
    height: 6rem;
    margin-left: 3.5rem;
}

.turmas{
    display: inline-block;
    
}

.turmas{
    background-color: rgb(186, 185, 185);
    border-radius: 2rem;
    width: 20rem;
    height: 20rem;
    margin-left: 33rem;
    margin-top: 9rem;
    
}

h1{
    margin-left: 5.5rem;
    margin-top: 7rem;
    font-size: 25px;
}
h2{
    font-size: 30px;
    margin-left: 37rem;
    margin-top: 4rem;
}